.mainHeader{
    background-color: cornflowerblue;
}
.mainHeader:before, .mainHeader:after {
    display: table;
    content: " ";
    clear: both;
}
.headerImageSpace{
    width: 20%;
    float: left;
    display: inline-block;
}
.headerTextSpace {
    width: 60%;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.headerBalansAndAvaSpace{
    width: 20%;
    float: left;
    display: inline-block;
    text-align: right;
}
.headerBalans{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}
.headerAva{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font-size: 20px;
}
.AvaImage{
    width: 70px;
    border-radius: 50%;
    padding-top: 15%;
}
.image{
    margin-left: 5px;
    margin-top: 5px;
    width: 60px;
    border-radius: 50%;
}