.mainWindowProfile{
    padding-top: 10px;
    padding-left: 10px;
}

.inputAll{
    margin-bottom: 5px;

}
.inputCardNumber{
    margin-left: 5px;
}
.inputCVV{
    margin-left: 78px;
}
.inputFullName{
    margin-left: 36px;
}